@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  list-style: none;
  text-decoration: none;
}

.body {
  color: var(--dark);
  background-color: var(--white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background-color: var(--white);
  transition: all 0.5s;
  position: fixed;
}

.navigation .logo {
  color: var(--yellow);
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
  transition: transform 0.5s, color 0.5s;
}

.navigation .logo:hover {
  transform: scale(1.3);
}

.logo span {
  color: var(--red);
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.2rem;
}

/* .navigation ul li {
  overflow: hidden;
} */

.navigation ul li a {
  color: var(--dark);
  font-weight: 500;
  display: inline-block;
  transition: transform 0.5s, color 0.5s;
}

.navigation ul li:hover a {
  color: var(--red);
  transform: scale(1.1);
}

.navigation i {
  /*search*/
  cursor: pointer;
  font-size: 1.8rem;
}

.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--dark);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--yellow);
}

.menu .bar:nth-child(2) {
  background: var(--red);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.home-text {
  max-width: 37rem;
}

.home-text .home-text__h4 {
  font-size: 1.5rem;
  color: var(--red);
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.home-text .bite {
  color: var(--yellow);
}

.home-text .home-text__h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
}

.home-text p {
  margin-bottom: 3rem;
}

.home-btn {
  padding: 15px 45px;
  background: var(--red);
  color: var(--white);
  border-radius: 60px;
  font-weight: 300;
  transition: all 0.5s;
  letter-spacing: 0.2rem;
}

.home-btn:hover {
  background: #fc4c35;
}

.home-img img {
  width: 100%;
}






